/* Clearfix */
.m-clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

/* Ellipsis */
.m-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &--2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
